.top-container .banner {
  position: relative;
  bottom: 1.5rem;
  width: 100vw !important;
}

.input-group-text {
  background: transparent !important;
}

.product-container {
  background: var(--grey);
}
.search-container {
  border: '2rem red solid';
}

.slider-container {
  display: inline;
  max-height: 5rem;
}

.card > img {
  margin: auto;
  /* width: 5rem; */
  height: 5rem;
}

.product-card {
  display: flex;
  flex-direction: row-reverse !important;
}

.card-body {
  padding: 1rem;
}

.arrow-right {
  width: 2rem;
}

.parent {
  height: 100% !important;
  width: 100% !important;
  overflow-x: scroll !important; /* Add the ability to scroll */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.parent::-webkit-scrollbar {
  display: none;
  overflow-y: none;
}

.child {
  display: flex;
  flex-wrap: nowrap !important;
  width: 100%;
}

.store-wrapper {
  border-radius: 1rem;
  background-color: var(--grey);
}

.product-card-bg {
  background: transparent !important;
}

li {
  border-radius: 0.8rem;
  margin: 0.9rem !important;
}

li:nth-child(2n) {
  background: var(--light-blue);
}

li:nth-child(2n + 1) {
  background: var(--light-green);
}

li:nth-child(3n) {
  background: var(--light-pink);
}

.alice-carousel:first-child .alice-carousel__stage-item {
  background-color: #fff !important;
  width: auto !important;
  /* margin-left:25px !important; */
}

.cart-count {
  font-size: 0.8rem;
  z-index: 1000;
  position: fixed;
  right: 1.5rem;
  bottom: 3.5rem;
  background: rgb(253, 178, 178);
  border-radius: 50%;
  padding: 0 0.4rem;
  color: black;
  border: 1px solid black;
}
